body {

}

.carousel-control {
    width: 50px;
    height: 100px;
    margin: -50px 0 0;
    display: block;
    background-color: #ED564B;
    position: absolute;
    top: 50%;
    z-index: 110;
    cursor: pointer;
    color: white;
}

#redd {
  background-color: #ED564B;
  height: 313px;
  border-top: solid 6px #F96B61;
  border-bottom: solid 6px #F96B61;
  text-align: center;
  color: white;
  padding: 40px 50px 40px 50px;
}

.homewidget span {
    border: 5px solid #fff;
    background: transparent;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: block;
    line-height: 65px;
    text-align: center;
    margin: 0px auto;
    font-size: 20px;
    position: relative;

  }

  h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .greyScale {
    filter: grayscale();
    background-image: url(./img/overlay.png);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
  }
